.main{
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 80px;
    @media(min-width: 768px){
        width: calc( (10/12) *100%);
        min-width: 768px;
        height: 100%;
        min-height: 100svh;
    }
    .gameListDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        .gameCardDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 16px;
            .gameContext{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}